<div class="contenedor">
    <div class="row justify-content-md-center text-center">
        <div CLASS="col col-3 bg-white backend">
            <i class="bi bi-hdd-fill"></i>
            <h3>Back-end</h3>
            <p>
                Trabajando desde el desaarollo y puesta en producción.
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                ASP.NET Core , SQL Server, Azure
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Web APIs</li>
                <li>ASP.NET Core MVC</li>
                <li>Entity Framework Core</li>
            </ul>
        </div>
    
        <div class="col col-3 bg-white frontend">
            <i class="bi bi-code-slash"></i>
            <h3>Front-End</h3>
            <p>
                Puedo crear front-ends lo cuales cumplen con los requerimientos del negocio.
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                Angular
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Angular Material</li>
            </ul>
        </div>
    </div>
</div>

