<div class="text-center">
    <h1 class="display-4">Soy Jorge Borras</h1>
    <h2>Soy un desarrolador en tecnologías .NET</h2>
    
    <img id="foto"  src="~/imagenes/mifoto.jpg" alt="Foto de Jorge"/>
</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/imagenes/dotnet-imagen-2.png" alt="net">
</div>
<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>
            Te doy la bienvenida a mi portafolio
        </h1>
        <p>
            He estado desarrollando software desde el 2021. He tenido el privilegio de trabajar 
            y reaalizar proyecto para empresas como  CIC TRAVEL, en C#/ASP.NET, SQL server , Azure, 
            Entity Framework.
        </p>
    </div>
</div>