@model HomeIndexViewModel
// si no agregamos la linea de arriba no arroja error , pero si cambiamos el nombre de proyecto a otro nombre 
// ala hora de copilacion va arrojar error, mientra que con la linea de arriba nos avisa ante de copilacion 

@if (Model.Proyectos is not  null)
{
    <div class="text-center" style="padding-top: 6rem">
        <h1>Mis trabajos recientes</h1>
        <p>Aqui puedes ver algunos de mis trabajos más recientes </p>
    </div>
    
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var proyectos in Model.Proyectos)
            {
                <div class="col">
                    <div class="card h-100">
                        <img src="@proyectos.ImagenURL" class="card-img-top" alt="imagen proyecto"/>
                        <div class="card-body">
                            <h5 class="card-title">@proyectos.Titulo</h5>
                            <p class="card-text">@proyectos.Descripcion</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary" href="@proyectos.Link" target="_blank"
                               rel="noopener noreferrer" >Visitar</a>
                        </div>
                    </div>
                </div>    
            }
        </div>
    </div>
}